* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .container .row .navbar .menu .nav-link:hover {
  background-color: #4987c3;
  border-radius: 0.25rem;
  color: white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  padding: 0.15rem 0.3rem;
  font-weight: lighter;
  margin: 0.15rem;
  text-shadow: inset; }

header .container-fluid .contacInfo {
  grid-area: contacInfo;
  height: 2rem;
  background-color: #a2d6fa;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom-left-radius: 2rem; }
  header .container-fluid .contacInfo .clock {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    margin: 0.25rem; }
    header .container-fluid .contacInfo .clock .clock p {
      display: flex;
      flex-direction: column;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem; }
  header .container-fluid .contacInfo .phone {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    margin: 0.25rem; }
    header .container-fluid .contacInfo .phone .phone p {
      display: flex;
      flex-direction: column;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem; }
  header .container-fluid .contacInfo .e-mail {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    margin: 0.1rem; }
    header .container-fluid .contacInfo .e-mail .e-mail p {
      display: flex;
      flex-direction: column;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem; }

header .container .row .navbar .menu .div ul .li {
  text-decoration: none;
  margin: 0.25rem;
  text-align: center;
  display: flex;
  padding: 0.25rem 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold; }

header .instagramFacebook {
  height: 9rem;
  grid-area: instagramFacebook;
  display: flex;
  flex-direction: right;
  align-items: end;
  margin-bottom: 0.5rem; }

.nos {
  background-color: #c2c3bc;
  padding: 0.5rem;
  height: 45.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-areas: "empresa empresa"; }
  .nos h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .nos .videoInst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 1rem; }
  .nos .whatsapp {
    position: fixed;
    bottom: 25px;
    right: 5px;
    display: inline-block; }
  .nos .pulsate-bck {
    -webkit-animation: pulsate-bck 0.7s infinite;
    animation: pulsate-bck 0.7s infinite; }

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .nos .empresa {
    grid-area: empresa;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 1Rem; }
    .nos .empresa .fotoEmpresa {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .nos .empresa .fotoEmpresa img {
        width: 80%;
        margin: 0rem;
        justify-content: center; }
    .nos .empresa p {
      width: 30rem;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem;
      margin: 0rem;
      text-align: center; }

.container-fluid .galeria {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .container-fluid .galeria div img {
    border-radius: 20px; }

.maq {
  height: 100%; }
  .maq .machine {
    grid-template-areas: "lather lather" "mill mill" "lather lather" "mill mill";
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .maq .machine .lather {
      grid-area: lather;
      display: flex; }
      .maq .machine .lather img {
        border-radius: 47% 53% 51% 49% / 26% 39% 61% 74%; }
      .maq .machine .lather p {
        color: whitesmoke;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: smaller;
        font-weight: 50;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }
    .maq .machine .mill {
      grid-area: mill;
      display: flex;
      flex-direction: row-reverse; }
      .maq .machine .mill img {
        border-radius: 47% 53% 51% 49% / 26% 39% 61% 74%; }
      .maq .machine .mill p {
        color: whitesmoke;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: smaller;
        font-weight: 50;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }

.container h1 .datos {
  grid-area: datos;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .container h1 .datos span {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem; }

.container .row .formularioContacto {
  grid-area: formularioContacto;
  padding: 10rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small; }
  .container .row .formularioContacto div {
    width: 50%;
    margin: 0rem 0rem;
    padding: 1rem; }
  .container .row .formularioContacto .enviar {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .container .row .formularioContacto .enviar .boton {
      background-color: #4987c3;
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: center; }

.container .whatsapp {
  position: fixed;
  bottom: 25px;
  right: 5px;
  display: inline-block;
  -webkit-animation: pulsate-bck 0.7s infinite;
  animation: pulsate-bck 0.7s infinite; }

footer {
  height: 1.5rem; }
  footer .copyRight {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #635f5f; }
    footer .copyRight h3 {
      font-size: 1rem;
      font-weight: bolder;
      font-style: italic;
      margin: 0px; }

/*mq*/
/*mq 768px*/
@media screen and (max-width: 768px) {
  /*index*/
  body header .container-fluid .contacInfo .clock {
    display: none; }
  .contacInfo div p {
    font-size: 0.69rem;
    margin-top: 0.2rem; }
  .nos {
    height: 51rem; }
    .nos .video .videoInst {
      width: 100%; }
    .nos .empresa {
      grid-template-areas: "fotoEmpresa" "historiaEmpresa";
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .nos .empresa .p {
        margin: 2rem;
        font-size: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 2px; }
    .nos .fotoEmpresa {
      display: flex;
      justify-content: center; }
  .container-fluid .galeria {
    width: 100%; }
  /*Maquinaria*/
  .maq .machine .lather img {
    width: 25%; }
  .maq .machine .lather p {
    font-size: 1rem; }
  .maq .machine .mill img {
    width: 25%; }
  .maq .machine .mill p {
    font-size: 1rem; } }

/*contactos*/
.container .row .maps {
  display: flex;
  justify-content: center; }

.container .row .datos {
  margin: 0.5rem; }

.container .row .formularioContacto {
  margin: 0rem 1rem;
  padding: 0rem 2rem; }
  .container .row .formularioContacto div {
    margin: 0rem 5rem; }

/*mq 480*/
@media screen and (max-width: 480px) {
  header .navbar {
    width: 80%; }
  header .container-fluid .contacInfo {
    display: none; }
  /*Nosotros*/
  .nos {
    height: 42.5rem; }
    .nos .empresa {
      grid-template-areas: "fotoEmpresa" "historiaEmpresa";
      flex-direction: column;
      align-items: center; }
      .nos .empresa .historiaEmpresa {
        font-size: 1rem; }
      .nos .empresa .empresa img {
        width: 100%; }
  /*Galeria imagenes*/
  .galeria div img {
    width: 100%; }
  /*Maquinaria*/
  .maq .machine .lather img {
    width: 30%;
    margin: 1rem; }
  .maq .machine .lather p {
    font-size: 0.8rem; }
  .maq .machine .mill img {
    width: 30%;
    margin: 1rem; }
  .maq .machine .mill p {
    font-size: 0.8rem; } }

.container .row .formularioContacto {
  margin: 0rem;
  padding: 0rem 0rem; }
  .container .row .formularioContacto div {
    margin: 0rem 4.5rem; }
