.nos {
    background-color: $color-fondo;
    padding: 0.5rem;
    height: 45.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-areas: "empresa empresa";

    h1 {
        @include flex-a-j (flex, row, center, center)
    }

    .videoInst {
        @include flex-a-j (flex, row, center, center);
        width: 60%;
        padding: 1rem;
    }

    .whatsapp {
        position: fixed;
        bottom: 25px;
        right: 5px;
        display: inline-block;
    }

    .pulsate-bck {
        -webkit-animation: pulsate-bck 0.7s infinite;
        animation: pulsate-bck 0.7s infinite;
    }

    @-webkit-keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes pulsate-bck {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .empresa {
        grid-area: empresa;
        background-color: white;
        @include flex (flex, row, stretch);
        padding: 2Rem;
        

        .fotoEmpresa {
            @include flex (flex, row, center);
            padding: 2rem;
            
            img {
                width: 80%;
                padding: 0.9rem;
                justify-content: center;
                border: solid black;
            }
        }

        .historiaEmpresa {
            width: 25rem;
            font-family: $texto-general;
            font-weight: bold;
            font-size: $texto-tamanio+0.1 ;
            @include flex (flex, column, center);
            padding: 2rem;
            margin: 0rem;
            text-align: center;
    }
    }
}


//Galeria de Imagenes//
.container-fluid {
    .galeria {
        width: 45%;
        @include flex (flex, row, center);

        div img {
            border-radius: 20px;
        }
    }
}

//Maquinaria//
.maq {
    height: 100%;

    .machine {
        grid-template-areas: "lather lather"
            "mill mill"
            "lather lather"
            "mill mill";
        margin: 0rem 3rem;
        @include flex (flex, column, center);

        .lather {
            grid-area: lather;
            display: flex;

            img {
                border-radius: 47% 53% 51% 49% / 26% 39% 61% 74%;
                padding: 3rem;
            }

            p {
                color: whitesmoke;
                text-align: center;
                font-family: $texto-general;
                font-size: smaller;
                font-weight: 50;
                @include flex (flex, column, center);
                padding: 8rem;
            }
        }

        .mill {
            grid-area: mill;
            display: flex;
            flex-direction: row-reverse;

            img {
                border-radius: 47% 53% 51% 49% / 26% 39% 61% 74%;
                padding: 3rem;
            }

            p {
                color: whitesmoke;
                text-align: center;
                font-family: $texto-general;
                font-size: smaller;
                font-weight: 50;
                @include flex (flex, column, center);
                padding: 8rem;
            }
        }
    }
}

//contactos//
.container {
    .row{
        .datos {
            grid-area: datos;
            margin: 2.5rem;
            @include flex (flex, column, center);

            span {
                font-family: $texto-general;
                font-size: $texto-tamanio;
            }
        }
    }

    .rowF {
        .formularioContacto {
            padding: 1rem;
            margin: 1rem 11rem;
            font-size: small;
            width: 50%;
            @include flex (flex, column, center);


            div {
                margin: 0rem 0rem;
                padding: 0rem;
                @include flex (flex, column, center);

            }

            .enviar {
                @include flex (flex, row, center);

                .boton {
                    background-color: $fondo-botones;
                    width: 25%;
                    @include flex (flex, row, center);
                }
            }
        }
    }

    .whatsapp {
        position: fixed;
        bottom: 25px;
        right: 5px;
        display: inline-block;
        -webkit-animation: pulsate-bck 0.7s infinite;
        animation: pulsate-bck 0.7s infinite;
    }
}