/*mq*/

/*mq 768px*/

@media screen and (max-width:768px) {

    /*index*/
    body header .container-fluid .contacInfo .clock {
        display: none;
    }
    
    .contacInfo div p {
        font-size: 0.69rem;
        margin-top: 0.2rem;
    }

    .nos {
        height: 49.5rem;
        .empresa {
            grid-template-areas: "fotoEmpresa"
                                "historiaEmpresa";
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .p{
                margin: 2rem;
                font-size: 0.5rem;
                align-items: center;
                justify-content: center;
                padding: 2px;
            }    
        } 
        .fotoEmpresa {
            display: flex;
            justify-content: center;
        }  
    }

    .container-fluid .galeria  {
        width: 100%;
}

    /*Maquinaria*/
    .maq .machine .lather img{
        width: 25%;
    }

    .maq .machine .lather p {
        font-size: 1rem;
    }

    .maq .machine .mill img {
        width: 25%;
    }

    .maq .machine .mill p {
        font-size: 1rem;
    }
}

/*contactos*/
.container .row {
    .maps{
    display: flex;
    justify-content: center;
    }
.formularioContacto {
    padding: 1rem 9rem;
}
}

/*mq 480*/

@media screen and (max-width:480px) {

    
    header {
        .navbar{ width: 80%;
    }
    .container-fluid .contacInfo {
        display: none;
    }
}

    /*Nosotros*/

    .nos .empresa {
        grid-template-areas: "fotoEmpresa"
            "historiaEmpresa";
        flex-direction: column;
        align-items: center;
        p {
            width: 28rem;
            font-size: 0.8rem;
        }
        .empresa img {
            width: 100%;
        }
    }


    /*Galeria imagenes*/

    .galeria div img {
        width: 100%;
    }

    /*Maquinaria*/
    .maq .machine .lather img {
        width: 30%;
        margin: 1rem;
    }

    .maq .machine .lather p {
        font-size:0.8rem;
    }

    .maq .machine .mill img {
        width: 30%;
        margin: 1rem;
    }

    .maq .machine .mill p {
        font-size: 0.8rem;
    }
}
.formularioContacto {
    padding: 1rem 8rem;
}
