/*mq 768px*/

@media screen and (max-width:768px) {

    /*index*/
    body header .container-fluid .contacInfo .clock {
        display: none;
    }

    .contacInfo div p {
        font-size: 0.69rem;
        margin-top: 0.2rem;
    }

    .nos {
        height: 51rem;

        .video .videoInst {
            width: 100%;
        }

        .empresa {
            width: 80%;
            grid-template-areas: "fotoEmpresa"
                "historiaEmpresa";
            background-color: $color-fondo;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0rem;
            padding: 0;

            .p {

                font-size: 0.5rem;
                align-items: center;
                justify-content: center;

            }
        }

        .fotoEmpresa {
            width: 80%;
            display: flex;
            justify-content: center;
        }
    }

    .container-fluid .galeria {
        width: 100%;
    }

    /*Maquinaria*/
    .maq .machine .lather img {
        width: 30%;
        padding: 1rem;
    }

    .maq .machine .lather p {
        font-size: 1rem;
        padding: 1rem;
    }

    .maq .machine .mill img {
        width: 30%;
        padding: 1rem;

    }

    .maq .machine .mill p {
        font-size: 1rem;
        padding: 1rem;
    }
}

/*contactos*/
.container {
    .row {
        .maps {
            display: flex;
            justify-content: center;
        }

        .datos {
            margin: 0.5rem;
        }

        .rowF {
            width: 50%;
            .formularioContacto {
                margin: 0rem 1rem;
        }
    }
    }
}

/*mq 480*/

@media screen and (max-width:480px) {


    header {
        .navbar {
            width: 80%;
        }

        .container-fluid .contacInfo {
            display: none;
        }
    }

    /*Nosotros*/


    .nos {
        height: 42.5rem;

        .empresa {
            grid-template-areas: "fotoEmpresa"
                "historiaEmpresa";
            flex-direction: column;
            align-items: center;

            .historiaEmpresa {
                font-size: $texto-tamanio;
            }

            .empresa img {
                width: 100%;
            }

        }
    }

    /*Galeria imagenes*/

    .galeria div img {
        width: 100%;
    }

    /*Maquinaria*/
    .maq .machine .lather img {
        width: 35%;
        margin: 0rem;
    }

    .maq .machine .lather p {
        font-size: 0.8rem;
    }

    .maq .machine .mill img {
        width: 35%;
        margin: 0rem;
    }

    .maq .machine .mill p {
        font-size: 0.8rem;
    }
}

.container .row {
    .formularioContacto {
        margin: 1rem 0rem;
        padding: 0rem 0rem;

        div {
            margin: 0rem 4.5rem;
        }
    }
}
