*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/variables";
@import "base/mixins";
@import "base/extend";

@import "header";
@import "main";
@import "footer";
@import "mediaquery";




